* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

menu,
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333333;
    --yellow: #fdc15f;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* BUTTON */

.button {
    border-radius: 20px;
}

.button-white {
    color: black;
    background-color: white;
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    color: white;
    padding: 19px 0;
}

.nav-item a {
    font-size: 16px;
    padding: 0 16px;
    line-height: 38px;
}

.hamburger {
    display: none;
    font-size: 20px; 
}


/* RESPONSIVE HEADER */

@media screen and (max-width: 991px) {

    .container {
        padding: 15px 30px;
    }

    .header-nav {
        display: none;
    }

    .hamburger{
        display: block;
    }

}

/* MAIN */

/* DEMO SECTION */
.demo {
    padding-top: 49px;
    padding-bottom: 105px;
}

.card {
    background-color: var(--lightblue);
    padding: 36px;
    border-radius: 15px;
}

.demo .row {
    margin: 0 -10px;
    row-gap: 20px;
}

.col-8 {
    flex-basis: calc(100%*2/3);
    padding: 0 10px;
}

.col-4 {
    flex-basis: calc(100%/3);
    padding: 0 10px;
}


/* RESPONSIVE DEMO SECTION */

@media screen and (max-width: 575px) {

    .demo [class^='col-']{
        flex-basis: 100%;
    }

}
