* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

menu,
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333333;
    --yellow: #fdc15f;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* BUTTON */

.button {
    border-radius: 20px;
    display: block;
    width: max-content;
}

.button-white {
    color: black;
    background-color: white;
}

.button-blue {
    color: white;
    background-color: var(--blue);
    font-size: 20px;
    font-weight: 700;
    line-height: 46px;
    padding: 0 46px;
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    color: white;
    padding: 19px 0;
}

.nav-item a {
    font-size: 16px;
    padding: 0 16px;
    line-height: 38px;
}

.hamburger {
    display: none;
    font-size: 20px; 
}


/* RESPONSIVE HEADER */

@media screen and (max-width: 991px) {

    .container {
        padding: 15px 30px;
    }

    .header-nav {
        display: none;
    }

    .hamburger{
        display: block;
    }

}

/* MAIN */

/* DEMO SECTION */
.demo {
    padding-top: 49px;
    padding-bottom: 105px;
}

.card {
    background-color: var(--lightblue);
    padding: 36px;
    border-radius: 15px;
}

.demo .row:not(.no-gutter),
.benefits .row {
    margin: 0 -10px;
    row-gap: 20px;
}

.col-8 {
    flex-basis: calc(100%*2/3);
    padding: 0 10px;
}

.col-4 {
    flex-basis: calc(100%/3);
    padding: 0 10px;
}

.col-60 {
    flex-basis: 60%;
}

.col-40 {
    flex-basis: 40%;
}

.card.big {
    padding-bottom: 0;
}

.title,
.title-big {
    font-size: 21px;
    color: var(--blue);
    font-weight: 700;
}

.demo .content {
    font-size: 16px;
    font-weight: 700;
    color: #5a6e7f;
    line-height: 30px;
}

.apple {
    margin-right: 10px;
}

.title,
.content.big,
.col-60 .button {
    margin-bottom: 25px;
}

.content.big {
    margin-top: 25px;
}

.demo-img {
    width: 78%;
    margin: 0 auto;
}

.demo .col-4 {
    text-align: center;
}

.demo .col-4 i {
    font-size: 60px;
    color: var(--blue);
    margin-bottom: 25px;
}

/* RESPONSIVE DEMO SECTION */

@media screen and (max-width: 991px) {

    .demo .row.no-gutter {
        display: block;
    }

    .demo-img {
        margin: 0;
    }

    .col-4 .card{
        height: 100%;
    }
}

@media screen and (max-width: 575px) {

    .demo [class^='col-']{
        flex-basis: 100%;
    }

    .demo-img {
        margin: 0 auto;
    }

}

/* STRATEGIC STYLE */

.strategic {
    background-color: var(--purple);
    padding: 120px 0 60px;
    color: white;
}

.container.small {
    max-width: 880px;
    margin: 0 auto;
}

.strategic .row {
    gap: 60px;
}

.col-50 {
    flex-basis: calc(50% - 30px);
}

.strategic-img {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 130px;

}

.strategic-title {
    margin-bottom: 60px;
    font-size: 30px;
}

.stategic .content {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

.col-50.white {
    background-color: white;
    border-radius: 20px;
    margin-top: 130px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    color: black;
    text-align: center;
    padding: 33px 45px;
}

.wrapper img {
    width: 80%;
    margin: 0 auto;
}

.wrapper-title {
    font-size: 22px

}

.wrapper .content {
    font-style: italic;

}

.arrow {
    background-color: var(--purple);
    border-radius: 50%;
    width: max-content;
    padding: 10px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;

}

/* RESPONSIVE */

@media screen and (max-width: 991px) {

    .col-50 {
        flex-basis: 100%;
    }

    .strategic img {
        width: 100%;
    }

    .strategic-title {
        font-size: 60px;
    }
}

@media screen and (max-width: 575px) {

    .strategic-title {
        font-size: 30px;
    }

}

/* TESTIMONIAL STYLE */

.testimonial {
    padding: 60px 0 100px;
}

.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}

.testimonial-intro,
.testimonial-cit {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 2.1em;
}

.testimonial-intro {
    text-align: center;
}

.testimonial-title.upper,
.testimonial-description {
    font-size:  16px;
}

.testimonial-title.middle {
    font-size: 40px;
    color: var(--purple);
}

.testimonial-cit {
    font-size: 19px;
}

.testimonial .card {
    display: flex;
    background-color: var(--purple);
    padding: 28px 13px 48px;
    color: white;
}

.testimonial-img {
    flex-basis: 30%;
    margin-right: 60px;
}

.round-img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


/* RESPONSIVE */

@media screen and (max-width: 991px) {
    .testimonial-img {
        flex-basis: 100%;
        margin-right: 24px;
    }

}   

@media screen and (max-width: 575px) {

    .testimonial-title.middle {
        font-size: 34px;
    }

    .testimonial .card {
        flex-wrap: wrap;
        text-align: center;
    }

    .testimonial-img {
        flex-basis: 100%;
        margin: 0 auto;
        padding-bottom: 23px;
    }

   
}

/* BENEFITS SECTION STYLE */

.benefits {
    padding: 60px 0;
}

/* RESPONSIVE */

@media screen and (max-width: 991px) {
    .benefits .col-4 {
        flex-basis: calc(100% / 2);
    }
}

@media screen and (max-width: 575px) {

    .benefits .col-4 {
        flex-basis: 100%;
    }
}